@charset "utf-8";


.d-none {
    display:none;
}

.hide-768 {
    display:block !important;
}

.view-768 {
    display:none !important;
}

.hide-768-inline {
    display:inline !important;
}

.view-768-inline {
    display:none !important;
}

.hide-1024 {
    display:block !important;
}

.view-1024 {
    display:none !important;
}


.hide-1024-inline {
    display:inline !important;
}

.view-1024-inline {
    display:none !important;
}

@media screen and (max-width:1024px) {

    .hide-1024 {
        display:none !important;
    }

    .view-1024 {
        display:block !important;
    }

    .hide-1024-inline {
        display:none !important;
    }
    
    .view-1024-inline {
        display:inline !important;
    }
}


@media screen and (max-width:768px) {
    .hide-768-inline {
        display:none !important;
    }

    .view-768-inline {
        display:inline !important;
    }

    .hide-768 {
        display:none !important;
    }

    .view-768 {
        display:block !important;
    }

    .view-1024 {
        display:none !important;
    }

}