@charset "utf-8";

/* base */


/* 한글: noto sans kr */
/* 영문 inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

a {
    color:#454545;
    text-decoration: none;
}

* {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
}

body.menu_active {
    overflow-y: hidden;
}

body.menu_active footer {
    z-index:-1;
}


/* header */

header {
    position:absolute;
    width:100%;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
    background:#fff;
    z-index:10;
    height:100px;
    transition:0.5s;
}

header.gnb_on {
    height:326px;
}

div.wrap {
    position:relative;
    display:flex;
    max-width:1420px;
    width:100%;
    height:100px;
    margin:0 auto;
    padding:0;
}

h1 {
    position:absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    width:200px;
}

h1 img {
    width:100%;
} 

/* gnb depth1 */

nav.gnb {
    margin:auto;
    position:relative;
    overflow:hidden;

    height:100px;
}

nav.gnb ul.depth1 {
    display:flex;
}

nav.gnb ul.depth1 li a {
    display:block;
    padding:0 30px;
    font-size:20px;
    font-weight:bold;
    color:#2F241E;
    line-height:100px;
}

/* gnb depth2 */

nav.gnb ul.depth2 {
    /* display:none; */
    height:0;

    position:absolute;
    top:100px;
    z-index:10;
    width:100%;
    /* padding:20px 0 60px; */
    padding:0 0 0;
    box-sizing: border-box;
}

nav.gnb ul.depth1 li:first-child > .depth2::before,
nav.gnb ul.depth1 li:first-child > .depth2::after {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:0;
    width:50vw;
    /* height:100%; */
    height:0;
    background:#fff;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
    /* border-top:1px solid #2F241E; */
    border-top:0;
    transition: 0.5s;
}

nav.gnb ul.depth1 li:first-child > .depth2::before {
    right:50%;
}

nav.gnb ul.depth1 li:first-child > .depth2::after {
    left:50%;
}

nav.gnb ul.depth2 li a {
    display:inline-block;
    padding:0 30px;
    font-size:16px;
    font-weight:300;
    color:#2F241E;
    line-height:0;
    opacity:0;
    transition:0.5s;
    transition-delay: 0.2s;
}

nav.gnb:hover {
    overflow: inherit;
}

nav.gnb:hover ul.depth2 {
    height:280px;
    padding:20px 0 0px;
}

nav.gnb:hover ul.depth2 li a {
    height:auto;
    /* line-height:36px; */
    line-height:24px;
    padding:8px 30px;
    opacity:1;
}

nav.gnb:hover ul.depth1 li:first-child > .depth2::before,
nav.gnb:hover ul.depth1 li:first-child > .depth2::after {
    border-top:1px solid #2F241E;
    height:280px;
}

nav.gnb:hover ul.depth2 li a:hover {
    text-decoration: underline;
}






.sns {
    position:absolute;

    display:flex;
    right:150px;
    top:50%;
    transform: translateY(-50%);
}

.sns a {
    display:block;
    width:30px;
    height:30px;
    border-radius:15px;
    margin-left:10px;
    background:#311B19;
    color:#fff;
}

.sns a i {
    display:block;
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size:14px;
    text-align:center;
}

.login {
    position:absolute;
    right:0;
    top:calc(50% - 20px);
    width:92px;
    line-height:40px;
    background:#311B19;
    color:#fff;
    text-align:center;
}

/* 모바일 요소 display:none; */

.mobile_menw, 
.m_gnb {
    display:none;
}













/* main */
/* main { */
    /* 임시 사이즈 */
    /* height:calc(100vh + 200px); */
/* } */



/* 고정버튼 */
.top_btn, .eatz_btn{
    width: 60px; height: 60px;
    position: fixed;
    display: flex;
    overflow: hidden;
    border: 1px solid #333;
    box-sizing: border-box;
    line-height: 60px;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }
  .top_btn{bottom: 101px; right: 100px;}
  .top_btn > a{
    position: absolute;
    right: -58.5px;
    display: block;
    font-size: 28px;
    transition: 0.3s;
  }
  .top_btn:hover{
    width: 130px;
  }
  .top_btn:hover > a{
    right: 20px;
  }
  
  .eatz_btn{bottom: 160px; right: 100px;}
  .eatz_btn > a{
    position: absolute;
    right: -156px;
    display: block;
    font-size: 28px;
    transition: 0.3s;
  }
  .eatz_btn > a > img{
    position: absolute;
    top: 17px; left: 10px;
  }
  .eatz_btn:hover{
    width: 235px;
  }
  .eatz_btn:hover > a{
    right: 20px;
  }

  .page_indicate {
    mix-blend-mode: difference;
  }







/* footer */

footer {
    position:relative;
    z-index:0;
    background:#30251F;
}

.footer_top {
    border-bottom:1px solid #D3CBC0;
}

.footer_top > .wrap {
    justify-content: space-between;
    align-items: center;
}

.f_gnb {
    display:flex;
}

.f_gnb li a {
    margin-right:40px;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    line-height:100px;
}

.f_sns {
    display:flex;
}

.f_sns a {
    display:block;
    width:30px;
    height:30px;
    border-radius:15px;
    margin-left:10px;
    background:#fff;
    color:#311B19;
}

.f_sns a i {
    display:block;
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size:14px;
    text-align:center;
}

.footer_bottom {
    padding:60px 0 80px;
}

.footer_bottom > .wrap {
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

h2.footer_logo {
    width:200px;
}

h2.footer_logo img {
    width:100%;
}

h2.footer_logo + select {
    display:inline-block;
    width:200px;
    line-height:32px;
    padding:4px 0;
    text-indent:12px;
    border:none;
}

address {
    padding-top:40px;
    width:100%;
    color:#fff;
    font-style: normal;
    line-height:24px;
    font-size:14px;
    font-weight:300;
}

address p:last-child {
    padding-top:10px;
    color:#aca7a7;
}

/* width 1440px 기준 */
@media screen and (max-width:1440px) {
    div.wrap {
        padding:0 40px;
        box-sizing: border-box;;
    }

    h1 {
        left:40px;
    }

    nav.gnb ul.depth1 li a {
        padding:0 20px;
    }

    .login {
        right:40px;
    }

    nav.gnb ul.depth2 li a {
        padding:6px 20px;
    }
}


/* width 1024 기준(테블릿) */
@media screen and (max-width:1024px) {

    header {
        position:fixed;
    }

    nav.gnb, 
    .sns, 
    .login {
        display:none;
    }

    /* 메뉴버튼 */

    .mobile_menu {
        position:absolute;
        right:40px;
        top:50%;
        transform: translateY(-50%);
        display:block;
        padding:20px 10px;
        /* z-index:9999; */
        
        transition:0.5s;
    }

    .mobile_menu span {
        display:block;
        height:2px;
        background:#311B19;
        transition:0.5s;
    }

    .mobile_menu span:nth-child(1) {
        width:40px;
        transform: translate(0, -10px);
        /* transition:0.5s; */
    }

    .mobile_menu span:nth-child(2) {
        width:30px;
        transform: translate(10px, 0);
        /* transition:0.5s; */
    }

    .mobile_menu span:nth-child(3) {
        width:40px;
        transform: translate(0, 10px);
        /* transition:0.5s; */
    }

    .mobile_menu.active {
        z-index:9999;
        right:60px;
    }

    .mobile_menu.active span {
        background:#fff;
    }

    .mobile_menu.active span:nth-child(1) {
        transform: translate(0, 2px) rotate(45deg);
    }

    .mobile_menu.active span:nth-child(2) {
        width:0;
    }

    .mobile_menu.active span:nth-child(3) {
        transform: translate(0, -2px) rotate(-45deg);
    }

    nav.m_gnb {
        /* display:none; */
        display:block;

        position:fixed;
        right:-100%;
        top:0;
        z-index:999;
        width:100%;
        height:100%;

        background:#30251F;
        overflow-y:auto;
        overflow-x: hidden;

        transition:0.5s;
    }

    nav.m_gnb.active {
        /* display:block; */
        right:0;
    }

    .m_gnb .view-1024 {
        position:relative;
        height:100px;
        border-bottom:1px solid #fff;
        margin-bottom:60px;
    }

    .m_gnb .view-1024 .gnb_logo {
        position:absolute;
        left:40px;
        top:50%;
        transform: translateY(-50%);
        width:200px;
    }

    .gnb_logo img {
        width:100%;
    }

    .m_gnb .view-1024 .gnb_logo::after {
        content:'';
        display:block;
        position:absolute;
        top:0;
        right:-20px;
        width:1px;
        height:21px;
        background:#fff;
    }

    .m_gnb .view-1024 .m_login {
        position:absolute;
        left:280px;
        top:50%;
        transform: translateY(-50%);
        /* line-height:50px; */
        color:#fff;
    }

    .m_gnb .view-1024 .m_login a {
        font-size:24px;
        font-weight:400;
        color:#fff;
    }

    .m_gnb .view-1024 .m_login a i {
        position:absolute;
        top:1px;
        right:-25px;
        display:block;
        width:20px;
    }

    .m_gnb .view-1024 .m_login a i img {
        width:100%;
    }

    .m_gnb .view-1024 .f_sns {
        position:absolute;
        right:140px;
        top:50%;
        transform: translateY(-50%);
    }


    nav.m_gnb ul.depth1 {
        max-width:620px;
        width:100%;
        margin:0 auto 80px;
    }

    nav.m_gnb ul.depth1 > li {
        display:flex;
        padding:40px 0 30px;
        border-bottom:1px solid #fff;
    }

    nav.m_gnb ul.depth1 li > *{
        width:50%;
    }

    nav.m_gnb ul.depth1 li a{
        font-size:36px;
        color:#fff;
    }

    nav.m_gnb ul.depth2 li a{
        font-size:20px;
        font-weight:300;
        line-height:36px;
        color:#fff;
    }

}



/* width 768 기준(모바일) */
@media screen and (max-width:768px) {

    header {
        height:60px;
    }

    h1 {
        width:50px;
        left:20px;
    }

    .mobile_menu {
        right:20px;
    }

    .mobile_menu.active {
        right:20px;
    }

    header div.wrap {
        height:60px;
    }

    .gnb_logo {
        text-align: center;
        margin:100px auto 40px;
        width:200px;
    }

    .m_login {
        position:absolute;
        left:20px;
        top:20px;
    }

    .m_login a {
        font-size:16px;
        font-weight:bold;
        color:#fff;
    }

    .m_login a i {
        position:absolute;
        right:-20px;
        top:1px;
        display:block;
        width:15px;
    }

    .m_login a i img {
        width:100%;
    }

    nav.m_gnb ul.depth1 {
        padding:0 20px;
        box-sizing: border-box;
    }

    nav.m_gnb ul.depth1 > li {
        display:flex;
        flex-direction: column;

        position:relative;
        padding:0;
        border-bottom:1px solid rgba(255,255,255,0.2);

        cursor:pointer;
    }

    nav.m_gnb ul.depth1 > li::after {
        content: url(../images/mobile_arrow.png);
        display:block;
        width:8px;
        height:6px;
        position:absolute;
        right:20px;
        top:30px;
        transform: rotate(0);
        line-height:0;

        transition:0.3s;
    }

    nav.m_gnb ul.depth1 > li.on::after {
        transform: rotate(-180deg);
    }



    nav.m_gnb ul.depth1 > li:last-child::after,
    nav.m_gnb ul.depth1 > li:nth-last-child(2)::after {
        display:none;
    }

    nav.m_gnb ul.depth1 > li > * {
        width:100%;
    }

    nav.m_gnb ul.depth1 > li > a {
        font-size:20px;
        line-height:60px;
        position:relative;
        z-index:-1;
    }

    nav.m_gnb ul.depth1 > li:last-child > a,
    nav.m_gnb ul.depth1 > li:nth-last-child(2) > a {
        z-index:inherit;
    }

    nav.m_gnb ul.depth2 {
        /* display:none; */
        height:0;
        overflow:hidden;

        position:relative;
        width:100%;
        background:#18120f;
        /* padding:10px 0; */
        padding:0;

        transition:0.2s;
    }

    nav.m_gnb ul.depth1 > li.on ul.depth2 {
        /* display:block; */
        height:auto;
        padding:10px 0;
        overflow:inherit;
    }

    nav.m_gnb ul.depth2::before {
        content:'';
        display:block;
        width:50%;
        height:100%;
        position:absolute;
        top:0;
        right:100%;
        background:#18120f;
    }

    nav.m_gnb ul.depth2::after {
        content:'';
        display:block;
        width:50%;
        height:100%;
        position:absolute;
        top:0;
        left:100%;
        background:#18120f;
    }


    nav.m_gnb ul.depth2 li {
        padding-left:40px;
    }

    nav.m_gnb ul.depth2 li a {
        display:block;
        width:100%;
        font-size:16px;
        line-height:40px;
    }


    nav.m_gnb .f_sns.view-768 {
        display:flex !important;
        justify-content: center;
    }

    nav.m_gnb .f_sns.view-768 a {
        margin-left:5px;
        margin-right:5px;
    }



      

    




    /* footer */

    .f_sns {
        display:none;
    }

    h2.footer_logo {
        width:150px;
        /* margin:0 auto; */
    }

    h2.footer_logo + select {
        display:none;
    }

    .f_gnb {
        width:100%;
        /* justify-content: space-around; */
    }

    .f_gnb li a {
        margin-right:20px;
        font-size:14px;
        font-weight:bold;
        color:#fff;
        line-height:40px;
    }

    .footer_top .wrap {
        height:60px;
    }

    /* .footer_bottom {
        padding:20px 0 40px;
        text-align: center;
    } */

    .footer_bottom .wrap {
        height:auto;
    }
}